.info {
    padding: 96px 24px;
    text-align: center;
}
.text-info h1 {
    margin: 48px 54px 28px;
    /* font-weight: 300; */
}
.text-info p {
    padding: 0 50px;
    line-height: 1.8;
    color: var(--dark-gray);
}
@media (min-width: 1200px) {
    .info {
        height: 768px;
        position: relative;
    }
    .image-container {
        position: absolute;
        top: 86px;
        left: 86px;
    }
    .text-info {
        position: absolute;
        top: 300px;
        right: 45px;
        width: 620px;
        padding: 20px;
        background-color: #fff;
    }
    .text-info h1 {
        font-size: 52px;
        font-weight: 300;
    }
    .text-info p {
        text-align: initial;
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .info {
        height: 768px;
        position: relative;
    }
    .image-container {
        position: absolute;
        top: 78px;
        left: 0px;
    }
    .image-container img {
        width: 80%;
    }
    .text-info {
        position: absolute;
        top: 300px;
        right: 20px;
        max-width: 550px;
        padding: 20px;
        background-color: #fff;
    }
    /* .text-info h1 {
        font-size: 52px;
        font-weight: 300;
    }
    .text-info p {
        text-align: initial;
        font-size: 16px;
    } */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .info {
        height: 768px;
        position: relative;
    }
    .image-container {
        position: absolute;
        top: 78px;
        left: 0px;
    }
    .image-container img {
        width: 80%;
    }
    .text-info {
        position: absolute;
        top: 300px;
        right: 0px;
        max-width: 450px;
        /* padding: 20px; */
        background-color: #fff;
    }
    /* .text-info h1 {
        font-size: 52px;
        font-weight: 300;
    }
    .text-info p {
        text-align: initial;
        font-size: 16px;
    } */
}
